input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  width: 600px;
  height: 0px;
  border: 1px solid var(--special-lightest);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background:  var(--basic-blue);
  cursor: pointer;
  margin-top: -7px;
  margin-left: -1px;
}
/*Mozilla styles*/

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background:  var(--basic-blue);
  cursor: pointer;
  margin-top: -7px;
  margin-left: -1px;
}

input[type=range]::-moz-range-track {
    width: 100%;
  width: 600px;
  height: 0px;
  border: 1px solid var(--special-lightest);
}
