.modal__success {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 193px;
  background-color: rgba(246, 247, 255, 1);
;
  border-radius: 4px;
}

.modal__success--close-btn {
  align-self: end;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.modal__success h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #1F1E25;
margin-top: -25px;
}

.modal__success p {
  margin-top: -35px;
  width: 293px;
}
