.modal__success {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 500px;
  min-height: 193px;
  background:  var(--basic-white);
  border-radius: 4px;
}

.modal__success--close-btn {
  position: absolute;
  right: 25px;
  top: 25px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.modal__success h3 {


  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color:  var(--basic-black);
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.modal__success span {


  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--special-dark);
}


