.price-input,
.price-deposite,
.input-time {
  width: 100%;
  min-height: 60px;
  padding-left: 227px;
  border-radius: 5px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  color: #1F1E25;
}

.price-deposite {
  padding-left: 233px;
}

.input-time {
  padding-left: 277px;
  margin-top: -1px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
.first-range {
  margin-top: 21px;
}
.last-range {
  margin-top: 17px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #2C36F2;
  cursor: pointer;
  margin-top: -7px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  width: 600px;
  height: 0px;
  border: 1px solid #C1C2CA;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 18px;
}

.wrapper-for-sub {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


.price-label {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #394959;
  margin-bottom: 10px;
}

.time-label {
  padding-top: 2px;
}

.price-input__btn {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  z-index: 100;
}

.minus {
  z-index: 100;
  left: 18px;
  top: 47px;
}

.plus {
  z-index: 100;
  left: 555px;
  top: 52px;
}

.sub-input {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #707C87;
  padding-top: 5px;
}

.sub-range {
    font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #707C87;
  padding-top: 9px;
}
