.footer {
  display: grid;
  grid-template-columns: 255px 250px 250px 155px auto;
  justify-items: center;
  align-items: baseline;
  gap: 25px;
  min-height: 224px;
  background-color: #F6F7FF;
  padding-top: 43px;
}

.footer__logo address {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #707C87;
  margin-top: 14px;
}

.footer-links, .footer-social {
  list-style: none;
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1F1E25;
  padding-left: 2px;
}

.footer-links__item {
  margin-bottom: 8px;
}

.footer-links:last-child {
  margin-bottom: 0;
}

.footer__sms {
  margin-left: -42px;
}

.footer__phone {
margin-left: 8px;
}
.footer__sms p,
.footer__phone p {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #707C87;
  padding-top: 0;
  margin-top: 4px;
  padding-left: 21px;
}

.footer__phone p {
  padding-left: 25px
}

.footer__sms a,
.footer__phone a {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 19px;
  margin-left: -8px;
}

.footer__sms-text,
.footer__phone-text {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1F1E25;
}

.footer__sms-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding-left: 56px;
}

