.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.label-checkbox {
  margin-top: 6px;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #1F1E25;
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border: none;
  background-color:  #2C36F2;
  background-image: url('../../../../../public/img/svg/white-check.svg')
}
