.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.label-checkbox {
  margin-top: 6px;
  cursor: pointer;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid  var(--basic-black);
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border: none;
  background-color:   var(--basic-blue);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 2.14286L3.5 5L7 1' stroke='%23F6F7FF'/%3e%3c/svg%3e");
}
