/*Layout*/

.wrapper-slider {
  margin: 0 auto;
  width: 100%;
  height: 400px;
}

.wrapper-slider__first-gradient {
  background: var(--basic-blue);
}

.wrapper-slider__second-gradient {
  background: linear-gradient(to right, rgba(221, 226, 236, 1), rgba(246, 252, 255, 1));
}

.wrapper-slider__third-gradient {
  background: linear-gradient(to right, rgba(230, 241, 254, 1), rgba(235, 243, 253, 1));
}

.wrapper-slider__second-img {
  background-image: url("../../../public/img/promo-man.webp");
  width: 1366px;
  height: 400px;
  margin: 0 auto;
    /*не знаю, как сделать иначе*/
  /* margin-top: -20px; */
}

.wrapper-slider__third-img {
  background-image: url("../../../public/img/promo-girl.webp");
  width: 1366px;
  height: 400px;
  margin: 0 auto;
    /*не знаю, как сделать иначе*/
  /* margin-top: -20px; */
}

.slider__list--first-slide {
  position: relative;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  width: 1366px;
  height: 400px;
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider__controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  right: 565px;
  top: 352px;
}

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 400px;
}

.slider__list li {
  padding-top: 102px;
  padding-left: 170px;
}

.slider__list--first-slide {
  position: relative;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.slider__list--first-gradient {
  position: absolute;
  width: 150px;
  height: 269px;
  left: 0;
  bottom: 0;
  background: linear-gradient(183.47deg, rgba(56, 65, 255, 0) 66.3%, #3841FF 97.14%);
}

.slider__list--second-gradient {
  position: absolute;
  width: 270px;
  height: 269px;
  right: 200px;
  bottom: 0;
  background: linear-gradient(45deg, rgba(56, 65, 255, 0) 27.26%, #3841FF 97.14%);
}

.slider__list--first-slide::before {
  display: block;
  position: absolute;
  content: "";
  width: 315px;
  height: 202px;
  background-image: url('../../../public/img/black-card.webp');
  bottom: 79px;
  left: 600px;
  z-index: 100;
}

.slider__list--first-slide::after {
  display: block;
  position: absolute;
  content: "";
  width: 315px;
  height: 202px;
  background-image: url("../../../public/img/white-card.webp");
  left: 709px;
  top: 61px;
}

.slider__list--first-slide h2,
.slider__list--second-slide h2,
.slider__list--third-slide h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
  color:  var(--basic-black);
  margin: 0;
  padding: 0;
}

.slider__list--first-slide h2 {
  color:  var(--basic-white);
}

.slider__list--first-slide p,
.slider__list--second-slide p,
.slider__list--third-slide p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--special-darkest);
  padding: 0;
  margin-top: 8px;
}

.slider__list--first-slide p {
  color: var(--special-almostWhite);
}

.slider__list--first-slide a,
.slider__list--third-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  color:  var(--basic-white);
  width: 234px;
  height: 53px;
  left: 268px;
  top: 324px;
  background:  var(--basic-blue);
  margin-top: 12px;
}

.slider__list--first-slide a {
  color:  var(--basic-black);
  background:  var(--basic-white);
}



.slider__controls button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  z-index: 100;
  background: var(--special-blue);
}

.slider__controls button:active {
  background: var(--basic-light);
}

.slider__controls button:focus {
  background: var(--basic-light);
}

.slider__controls .active {
  background: var(--basic-light);
}

